body{
	background-color: tan;
	font-size: 20px;
	color: white;
}
h1 {
	font-family:Georgia;
	font-size: 100px;
	text-align: center;
	color: white;
}
 p{
	font-family:Georgia;
	font-size: 20px;
	color: white;
 }
#date1{
	 color: white;
	 font-size:20px;
	 font-family: Georgia;
 }
 