body{
	background-color: tan;
	font-size: 20px;
	color: white;
	
}
h2{
	font-size: 90px;
	position: relative;
	left: 1400px;
	bottom: -10px;
	
}
h3 {
	font-size: 40px;
	position: relative;
	left: 1300px;
	bottom: 40px;
	
}
h1 {
	font-family:Georgia;
	font-size: 100px;
	text-align: center;
	color: white;
	position: relative;
	left: -200 px;
	bottom: -75px;
}
 p{
	font-family:Georgia;
	font-size: 20px;
	color: white;
 }
#date1{
	 color: white;
	 font-size:20px;
	 font-family: Georgia;
 }
 ul {
	position: relative;
	left: 200px;
	bottom:220px;
} 