body{
	background-color: tan;
}
p{
	font-family:Georgia;
	font-size: 120px;
	text-align: center;
	color: white;
}
#phoenix {
    background-color: maroon;
    border: none;
    color: white;
    padding: 100px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family:Georgia;
	border-radius: 8px;
    font-size: 30px;
}

#officer {
    background-color: maroon;
    border: none;
    color: white;
    padding: 100px 265px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family:Georgia;
	border-radius: 8px;
    font-size: 30px;
}